*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
	height: 100vh;
	width: 100vw;
}
.left{
	width: 450px;
	margin-top: 70px;
	display: inline-block;
}
form{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 300px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}
input{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}
button{
	background-color: #1877f2;
	padding: 10px 20px;
	border-radius: 5px;
}
.signup{
	background-color: #42b72a;
}